<div class="row">
                    <div class="col-5">
                        <div class="card">
                            <div class="card-body">
                                <div style="display: block">
                                    <canvas  baseChart width="100" height="100"
                                      [data]="doughnutChartData"
                                      [labels]="doughnutChartLabels"
                                      [options]="barChartOptions"
                                      [legend]="barChartLegend"
                                      [type]="doughnutChartType">
                                    </canvas>
                                  </div>
                            </div>
                        </div>
       </div>

       <div class="col-5">
        <div class="card">
            <div class="card-body">
                <app-grafico-dona 
                [chartLabels]="graficos.datasets.labels" 
                [chartData]="graficos.datasets.data" 
                type="doughnutChartType">
            </app-grafico-dona>

            </div>
        </div>
</div>
</div>




